/* *,html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
} */

#navwrapper{
    width: 100%;
    height: 10vh;

}

#main-container{
    height:80vh;
}

#main-text{
    font-size: 5rem;
    letter-spacing: 2px;
    font-weight: 600;
}

#main-text-sc{
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 300;
    font-family: sans-serif;
}

#play-now{
    margin-top: 2rem;
    padding: 0.5rem 4rem;
}
